<div class="content">
  <%= image_tag('karthik.png', class: 'img-responsive', width: '100%')%>
  <div class="about-section" id="aboutus">
		<div class="container">
			<h3>welcome to the laboratory !</h3>
			   <div class="about-grids">
  					  <div class="col-md-6 about-grid">
    						<%= image_tag('Laboratory_LHS_Lab.jpg', class: 'img-responsive')%>
    						<h4>Proteomics</h4>
    						<p>Proteins research.Cystic Fibrosis Research.Dr.Karthik Kamath</p>
  					  </div>
  					  <div class="col-md-6 about-grid">
    			        <%= image_tag('images.jpg', class: 'img-responsive')%>
    						<h4>Cancer</h4>
    						<p>Cancer Research.</p>
  				  	</div>
	          <div class="clearfix"></div>
				  </div>
			</div>
		</div>

    <div class="footer-section">
					<div class="container">
					<div class="footer-bottom">
					<p>Copyright &copy; APAF LAB : Design by NANDINI KAMATH</a></p>
								</div>
						<script type="text/javascript">
					$(document).ready(function() {
          $().UItoTop({ easingType: 'easeOutQuart' });
					});
				</script>
			<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
			</div>
		</div>
</div>
