<div class="contact-section" id="contact">
    <div class="container">
      <div class="contact-header">
        <h3>contact</h3>
      </div>
      <div class="contact-grid">
          <div class="col-md-6 contactdetails-grid">
            <% if user_signed_in? %>
              <% @contacts.each do |contact|%>
                    <%= link_to 'Show', contact %>
              <% end %>
            <% else %>
                <%= render 'form' %>
            <%end%>
           </div>
           <div class="col-md-6 contactdetails-grid1">
              <div class="address">
                  <h4>Address</h4>
                    <p>MACQUARIE UNIVERSITY</p>
                    <p>SYDNEY NSW-2122</p>
                    <p>AUSTRALIA</p>
                    <p>Phone:(00) 222 666 444</p>
                    <p>Fax: (000) 000 00 00 0</p>
                    <p>Email: <a href="mailto:example@mail.com">karthikskamath@mq.edu.com</a></p>
                    <p>Follow on: <a href="#">Facebook</a> , <a href="#">Twitter</a></p>
               </div>
               <div class="google-map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3316.0708887764404!2d151.09544031496176!3d-33.784667522128025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12a5d38e229273%3A0xe4a66e6cfa2e4b4a!2s248+N+Rd%2C+Eastwood+NSW+2122!5e0!3m2!1sen!2sau!4v1465452167341" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
               </div>
            </div>
            <div class="clearfix"> </div>
          </div>
      </div>
    </div>
